<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Meetup", suffix: " · Gleam & Elixir Demo" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-800">
    <header class="bg-gradient-to-b from-slate-700 to-slate-800 text-white select-none">
      <h1 class="container mx-auto py-10 text-2xl text-center [text-shadow:0_2px_3px_rgba(0,0,0,1)] ">
        Gleam &amp; Elixir Demo<br/>
        <small>for <i>Elixir Meetup Rhein Main</i></small>
      </h1>
    </header>
    <main class="bg-slate-100 text-black">
      <%= @inner_content %>
    </main>
    <footer class="bg-slate-900 text-white select-none">
    </footer>
  </body>
</html>
